<script type="text/template" id="testTpl">
    <% var arr = [1,2,3,4,5]; %>
    <% _.each(arr, function(item,n){ %>
        <% 
            console.log('123');
            console.log(item,n); 
        %>
    <% }); %>
    <h1> <%- data.hitokoto%></h1>
    <p style="text-aligin:right;"> <%- data.from%></p>
</script>